:root {
    --light-pink: #fff0f2;
    --hot-pink: #FF3856;
    --grink: #e9ced2;
    --rose: #fd8395;
    --grey: #dacacc;
    --purple: #b39eaf;
    --teal: #70d6d6;
    --ada-purple:#6B5667;
    --honey: #FFAE03;
    --darkhoney: #c08403;
    --forest: #394648;
  }

/* ---------body styles ------------------------------------------- */
body {
    background: var(--grey);
    font-family: 'PT Mono', monospace;
    padding: 50px;
}


/* holds all body text */
main {
    /* position: relative; */
    /* float: right; */
    background: var(--light-pink);
    color: var(--ada-purple);
    /* margin horizontally centers, creates space around container */
    /* margin: 20px auto auto 50px  ; */
    margin: auto auto 50px auto;
    /* padding creates space within the container */
    padding: 8%;
    width: 50%;
    height: auto;
    border: solid 5px var(--teal);
    border-radius: 330px 330px 0 0;
    box-shadow: -15px 22px 0px 1px var(--rose);
}

header{
    float: left;
    position: relative;
    margin: 0 0 40px 40px;
}

#navcircle{
    position: fixed;
    float: right;
    /* margin: 10px 10px 10px 10px; */
    margin: auto;
    right: 90px;
    /* border: 1px solid var(--darkhoney); */
    border-radius: 140px;
    padding: 20px 50px;
    background-color: var(--teal);
    width: 15%;
    /* padding-top: 10%;      */
    /* box-shadow: -15px 22px 30px 2px var(--rose) ; */
}

.innershadow {
    box-shadow: inset 0 0 10px var(--rose);
}

.boxyshadow {
    box-shadow: -3px 5px 0 2px var(--ada-purple);
}

#navcircleh2 {
    color: #FFF0F2;
    text-align: center;
}

/* -------------element styles ---------------------------------------------------------------- */
h1 {
    color: var(--hot-pink);
    font-size: 4rem;
    font-family: 'Nanum Pen Script', cursive;
}

strong {
    color: var(--rose);
}

/*------------------------ links -------------------------------------------*/
a {
    border: solid var(--teal) 2px;
    color: var(--teal);
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: -5px 5px 0 0 var(--teal);
}

a:hover {
    border-radius: 0px;
}

.listlinks {
    border: none;
    padding: 2px;
    color: var(--light-pink);
}

.listlinks:hover{
    color: var(--hot-pink);
}

ol {
    list-style: circle;
    color: var(--light-pink);
}

li{
    margin: 10px;
}

.right-col{
    float: right;
    position: relative;
    /* width: 200px; */
    border-radius: 100px;
}

img {
    width: 200px;
    border-radius: 100px;
    /* margin: 30px; */
}

#under-belly {
    /* margin-top: 60%; */
    clear: both;
}
#selfie {
    margin: 1px;
}

section {
    padding: 40px;
    margin: 40px;
    background-color: var(--grink);
    border: none var(--hot-pink) 2px;
    border-top: 2px var(--grey) solid;
    border-radius: 30px;
}

#section1 {
    /* background-color: var(--purple); */
}

#section2 {
    /* background-color: var(--grink); */
}

#clearFix{
    clear: both;
}
/* -----------------------------------form -------------------------------------------------------------------------------------*/
button {
    background-color: var(--light-pink);
    border-radius: 30px;
    color: var(--hot-pink);
    border: 3px solid var(--hot-pink);
    box-shadow: -5px 5px 0 0 var(--rose);
}

button:active {
    padding: 4px;
}

input {
    background-color: var(--light-pink);
    color: var(--hot-pink);
    border: 3px solid var(--hot-pink);
    padding: 4px;
}
