:root {
    --light-pink: #fff0f2;
    --hot-pink: #FF3856;
    --grink: #e9ced2;
    --rose: #fd8395;
    --grey: #dacacc;
    --purple: #b39eaf;
    --teal: #70d6d6;
    --ada-purple:#6B5667;
  }


body {
    background: var(--grink);
    font-family: 'PT Mono', monospace;
}


/* holds all body text */
main {
    background: var(--light-pink);
    color: var(--ada-purple);
    /* margin horizontally centers, creates space around container */
    margin: 20px auto auto  ;
    /* padding creates space within the container */
    padding: 120px;
    width: 50%;
    height: auto;
    border-radius: 330px 330px 0 0;
}

.left-col{
    float: left;
}

h1 {
    color: var(--hot-pink);
}

a {
    border: solid var(--teal) 2px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

a:hover {
    border-radius: 0px;
}

.listlinks {
    border: solid var(--teal) 2px;
    padding: 2px;
    color: var(--teal);
}

.listlinks:hover{
    color: var(--hot-pink);
}

li{
    margin: 10px;
}

.right-col{
    float: right;
}

#under-belly {
    /* margin-top: 60%; */
    clear: both;
}

img {
    width: 200px;
    border-radius: 100px;
    margin: 30px;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: var(--grink);
    border: solid var(--hot-pink) 2px;
    border-radius: 0 30px 30px 30px;
}

#section1 {
    /* background-color: var(--purple); */
}

#section2 {
    /* background-color: var(--grink); */
}

#clearFix{
    clear: both;
}
